*{
	margin: 0;
}
body{
	background: url(backg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
nav{
	background-color: rgba(56, 53, 53, 0.9);
	display: flex;
	justify-content: space-between;
		box-shadow:8px 5px 0.05em rgba(0,0,0,0.3);
}
nav ul li:hover{
		background-color:rgba(153, 163, 155,0.8);
}

nav ul{
	padding: 0px;
	display:flex;
	list-style-type:none ;

}
nav ul li{
	flex-grow:1;
	border:1px solid black;
	text-align:center;
	padding: 5px;

	}
nav ul li a{
	text-decoration:none;
	color:white;
	font-size:38px;
}
 #fb{
	background:url('fb.png') no-repeat center;
	background-size: 45%;
}
 #yt{
	background:url('yt.png') no-repeat center;
	background-size: 100%;
}
.social li a{
		color: rgba(242, 246, 246,0);
		font-size: 10px;

}
.social li{
	padding: 0px;
	border: 0px;
}

div{
	position: absolute;
	display: grid ;
	max-width: 100%;
	top: 5em;
	grid-template-columns:50% 50% ;
 	justify-items: space-evenly;
 	align-content: start;
 	grid-auto-rows:minmax(150px,auto) ;

}
div>*{
	border: 3px solid black;
	 background-color:rgba(88, 81, 81, 0.84);
	margin: 8px;
	color: white;
	box-shadow: 5px 5px 5px rgba(0,0,0,1);
}
div article{
	list-style-type:none;
	font-size: 20px;
	grid-row-end: span 3;
}
div form{
	font-family: arial;
	padding: 8px;
	font-size: 25px;
	line-spacing: 5px;

}
form p{
	display:inline-block;
	font-size: 28px;
}
	input[type="submit"]{
		position: relative;
		right: 0 !important;


}
@media only screen and (max-width: 768px) {
  .cont{

    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 100px;


  	}
}
